{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="container">
    <h1>Contactez-nous</h1>

    {% for message in app.flashes('success') %}
        <div class="flash-success">{{ message }}</div>
    {% endfor %}

    {{ form_start(form) }}<br>
        {{ form_row(form.nom) }}<br>
        {{ form_row(form.mail) }}<br>
        {{ form_row(form.message) }}<br>

        <button type="submit" class="btn">Envoyer</button>
    {{ form_end(form) }}
</div>
{% endblock %}
